name: deploy-book

# Only run this when the master branch changes

on:
  push:
    branches:
      - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`

jobs:
  deploy-book:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: Install dependencies && build the book
      run: make all

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.5.9
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: content/_build/html
